
.formPost{
    margin-left: 20%;
    margin-top: 40px;
}

.formPost input{
    width: 70%;
    border-radius: 5px;
    border: none;
    margin-top: -5px;
    margin-bottom: 15px;
    min-height: 50px;
    padding: 0 15px;
}
.formPost textarea{
    border-radius: 5px;
    border: none;
    width: 70%;
    min-height: 120px;
    padding: 10px 15px;
}

.sendBtn{
    margin-top: 10px;
    background: #6cb0d9;
    padding: 8px 15px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 14px;
    border: none;
    color: #ffffff;
    box-shadow: #313336 2px 3px 5px 0;
}